/* General Styles */
.main-content {
  padding: 20px;
}

.marketing-message {
  margin-bottom: 40px;
}

.title {
  font-size: 50px;
  color: #167d8f;
}

.text {
  font-size: 35px;
  color: #167d8f;
}

.image-container {
  text-align: right;
}

.uploaded-image {
  max-width: 100%;
  height: auto;
}

/* Categories Styles */
.categories-container {
  margin-top: 40px;
  text-align: center; /* Center the content */
}

.categories-container h2 {
  margin-bottom: 40px; /* Space between the title and the categories */
}

.category-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the columns */
}

.category-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #806517;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: center; /* Align the text to the center */
  transition: background-color 0.3s, box-shadow 0.3s;
  margin: 20px; /* Add space between buttons */
  max-width: 300px; /* Maximum size of the buttons */
}

.category-button:hover {
  background-color: #a67c52;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  transform: translateY(-5px); /* Slight lift effect */
}

.category-icon {
  font-size: 3rem; /* Icon size */
  margin-bottom: 10px; /* Space between the icon and the text */
  color: #282a2c;
}

.category-info h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #282a2c;
}

.category-info p {
  font-size: 1rem;
  color: #282a2c;
}

/* Category Title */
.categories-title {
  font-size: 40px;
  font-weight: 500;
  font-family: 'Serif', sans-serif;
  color: #167d8f;
  margin-bottom: 100px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .category-info h3 {
    font-size: 1rem;
  }

  .category-info p {
    font-size: 0.875rem;
  }

  .category-button {
    padding: 15px;
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .category-info h3 {
    font-size: 0.875rem;
  }

  .category-info p {
    font-size: 0.75rem;
  }

  .category-button {
    padding: 10px;
  }
}

/* Navbar Styles */
.navbar {
  background-color: #333;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
}

/* Dropdown Styles */
.nav-item {
  position: relative;
}

.nav-item .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  top: 100%;
  left: 0;
  min-width: 300px; /* Ancho fijo para el menú desplegable */
  z-index: 1000;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-item-content {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.member-title, .product-title {
  font-size: 1.5rem; /* Tamaño de fuente ajustado */
  font-weight: bold;
}

.member-description, .product-description {
  font-size: 1.2rem; /* Tamaño de fuente ajustado */
  text-align: left;
  margin-left: 20px;
  flex: 3; /* Ajusta el ancho de la descripción */
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  color: rgb(3, 3, 3);
  padding: 10px 50px;
  cursor: pointer;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
  background-color: transparent;
  /* color: #131212; */
}

.navbar-nav {
  display: flex;
  align-items: center;
}


/*  card   */
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(8, 8, 8, 0.1);
  transition: transform 0.2s ease-in-out;
  width: 800%; /* Asegura que la tarjeta ocupe todo el ancho de su contenedor */
  max-width: 300px; /* Limita el ancho máximo de la tarjeta */
  margin: auto; /* Centra la tarjeta horizontalmente */
}

.card:hover {
  transform: translateY(-5px);
}

.card-body {
  padding: 1.25rem;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  text-align: center;

}

.card-text {
  font-size: 1rem;
  color: #555;
  text-align: center;
}

.card-img-container {
  width: 150px; /* Tamaño del contenedor circular */
  height: 150px; /* Tamaño del contenedor circular */
  border-radius: 50%; /* Para hacer el contenedor circular */
  overflow: hidden; /* Asegura que la imagen redondeada se muestre correctamente */
  /* display: flex; Utiliza flexbox para centrar la imagen */
  /* justify-content: center; Centra horizontalmente */
  /* align-items: center; Centra verticalmente */
  margin: auto;
  margin-top: 10px;
}

.card-img-top {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  height: 100%; /* Ajusta la altura al 100% del contenedor */
  object-fit: cover; /* Cubre el área del contenedor manteniendo la proporción */
  display: block; /* Asegura que la imagen se comporte como bloque */
  border-radius: 50%; /* Para redondear la imagen */
}

.card-footer {
  padding: 10px;
  text-align: center;
}


/* Programmer Profile */
body {
  background-color: #f9f9fa;
}

.padding {
  padding: 3rem !important;
}

.user-card-full {
  border-radius: 10px;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  margin-bottom: 30px;
}

.bg-c-lite-green {
  background: linear-gradient(to right, #1d899a, #55d1e4);
}

.user-profile {
  padding: 20px;
  text-align: center;
}

.user-profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card-block {
  padding: 1.5rem;
}

h5 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.5rem;
}

.text-muted {
  color: #919aa3;
}
